<p>
  It would appear the user denied access, or there was an error.
</p>
<p>
  You can try to <a href="/">authenticate again</a> or return to the terminal in defeat and <span class="command">`Ctrl-C`</span>.
</p>
