<form class="auth" action="/">
  <label class="key">Consumer Key: <input name="key" /></label>
  <label class="secret">Consumer Secret: <input name="secret" /></label>
  <input type="submit" />
</form>
<p>
  You need to <a href="http://www.tumblr.com/oauth/apps" target="_blank">register for an application on Tumblr</a>, then put your <em>consumer</em> key and secret here.
</p>
<p>
  You will then be redirected to Tumblr to authenticate and authorize.
</p>
