<p>
  Success! Your credentials were saved to <span class="command"><%= @credential_path %>
</p>
<p>
  Now return to your terminal and shut down this application by typing <span class="command">Ctrl-C</span> (<em>SIGINT</em>).
</p>
